@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;500&display=swap");

body {
  font-family: "Mitr", sans-serif;
  background: rgb(9, 22, 56);
  background: linear-gradient(
    106deg,
    rgba(9, 22, 56, 1) 16%,
    rgba(9, 22, 56, 0.24) 100%
  );
  padding-top: 30px;
}
.bg-nav {
  border-bottom: 2px solid #c1a875;
  background-color: #091638;
}
.bg-main {
  background-image: url("../images/bg_main.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 80px;
}
/* menubar */
.text-nav-startside {
  color: #e4dcd9;
  font-weight: 500;
  font-size: calc(80% + 2vmin);
  text-transform: uppercase;
}
.tex-menu-custom {
  color: #e4dcd9;
  font-size: calc(80% + 1.5vmin);
}
.hover-menu a:hover {
  color: white;
  text-decoration: underline #e4dcd9;
  text-underline-offset: 0.25em;
  
}
/* home */
#home {
  height: 45rem;
}
.home-name-textcolor {
  width: fit-content;
  text-transform: uppercase;
  background-image: linear-gradient(
    to left,
    #9a907e,
    #8b816f,
    #ac9f87,
    #ccb68a,
    #c5b085,
    #b4a27e,
    #807563
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.home-start-side h3 {
  font-size: calc(90% + 2vmin);
}
.home-start-side h1 {
  font-size: calc(90% + 5.5vmin);
}
.home-start-side p {
  color: #e4dcd9;
  font-size: calc(70% + 0.8vmin);
  font-weight: lighter;
}
.btn-custom-home {
  background-color: #e4dcd9;
  color: #091638;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  padding: 20px 30px;
  border-radius: 20px;
}
#home a:hover {
  color: white;
  text-decoration: underline #e4dcd9;
  text-underline-offset: 0.25em;
}

.home-profile-img {
  width: 25rem;
}
/* about me */
#about-me {
  margin-bottom: 5rem;
  padding-top: 100px;
}
.text-head-aboutme {
  font-size: calc(80% + 5vmin);
  color: #e4dcd9;
}
.aboutme-user-icon {
  max-width: 5rem;
  margin-left: -2%;
}
.aboutme-profile-img {
  max-width: 30rem;
  margin: auto;
  padding: 2rem 0;
}
.aboutme-info {
  border-left: 10px solid white;
}
.personal{
  margin-bottom: 8rem;
}
.personal h1,
.education h1 {
  font-size: calc(70% + 3vmin);
  color: #fff;
}
.personalsubTP,
.personalinfo,
.edusubTP,
.eduinfo {
  color: #fff;
  font-size: calc(75% + 1vmin);
}
.personalsubTP,
.edusubTP {
  font-weight: 500;
  margin-top: 1rem;
}
.personalinfo,
.eduinfo {
  font-weight: lighter;
}

#exercises{
  padding-top: 100px;
}
#exercises h1 {
  font-size: calc(80% + 4vmin);
  color: #e4dcd9;
}
.exercies-icon {
  max-width: 5rem;
  margin-left: -1rem;
}
.card {
  width: 28rem;
  background-color: transparent;
  border: 3px solid white;
}
.card-img-top {
  margin: 1rem auto;
  height: 200px;
  max-width: 100%;
}
.card-text {
  color: #fff;
  font-size: calc(70% + 1vmin);
}
.btn-view-custom {
  background-color: #040d23;
  color: white;
  width: 120px;
  font-size: 20px;
}
.card-body a:hover {
  color: #fff;
  text-decoration: underline #fff;
  text-underline-offset: 0.25em;
}
#contact .col {
  margin-top: 1rem;
}
.contact-bg {
  background-image: url(../images/footer-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  color: #e4dcd9;
}
.contact-icon {
  max-width: 2.5rem;
}

@media (max-width: 768px) {
  .home-profile-img {
    display: none;
  }
  .home-start-side {
    padding: 20% 0;
    text-align: center;
    font-size: 4vw;
  }
  .text-head-aboutme {
    margin: -1rem auto auto 0rem;
  }
  .aboutme-profile-img {
    padding: 0;
    max-width: 24rem;
    margin: 1rem auto 3rem auto;
  }
  .personal {
    margin-bottom: 4rem;
  }
  #about-me .aboutme-info {
    border: none;
  }
  .contact-bg {
    background-position: center;
  }
}
