@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@400;500&display=swap");

body {
  font-family: "Mitr", sans-serif;
}
header {
  border-bottom: 2px solid #c1a875;
  background-color: #091638;
}
/* menubar */
.textheaderlogo {
  color: #e4dcd9;
  font-weight: 500;
  font-size: calc(80% + 3vmin);
  text-transform: uppercase;
}
.textmenucustom {
  color: #e4dcd9;
  font-size: calc(70% + 2vmin);
}
.hovermenu a:hover {
  color: white;
  text-decoration: underline #e4dcd9;
  text-underline-offset: 0.25em;
}
/* home */
#home {
  background-color: #091638;
  height: 45rem;
}
.home-name-textcolor {
  width: fit-content;
  text-transform: uppercase;
  background-image: linear-gradient(
    to left,
    #9a907e,
    #8b816f,
    #ac9f87,
    #ccb68a,
    #c5b085,
    #b4a27e,
    #807563
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.home-start-side h3 {
  font-size: calc(90% + 2vmin);
}
.home-start-side h1 {
  font-size: calc(90% + 5.5vmin);
}
.home-start-side p {
  color: #e4dcd9;
  font-size: calc(70% + 0.8vmin);
  font-weight: lighter;
}
.btn-custom-home {
  background-color: #e4dcd9;
  color: #091638;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  padding: 20px 30px;
  border-radius: 20px;
}
#home a:hover {
  color: #e4dcd9;
}

.profileimg {
  width: 25rem;
}
/* about me */
#about-me {
  background: linear-gradient(to right, #bca17f 50%, #fff 50%);
  border-bottom: 2px solid #c1a875;
}
.text-head-aboutme {
  font-size: calc(80% + 5vmin);
  color: #e4dcd9;
  -webkit-text-stroke: 1px black;
}
.usericon {
  max-width: 5rem;
  margin-left: -2%;
}

.img-aboutme {
  max-width: 35rem;
  margin: auto;
  padding: 2rem 0;
}
.personal h1,
.education h1 {
  font-size: calc(70% + 3vmin);
  color: #091638;
}
.personalsubTP,
.personalinfo,
.edusubTP,
.eduinfo {
  font-size: calc(75% + 1vmin);
}
.personalsubTP,
.edusubTP {
  font-weight: 500;
  margin-top: 1rem;
}
.personalinfo,
.eduinfo {
  font-weight: 400;
}
.personal {
  margin-bottom: 10rem;
}
#exercises h1 {
  font-size: calc(80% + 4vmin);
  color: #091638;
}
.logoexercies {
  max-width: 5rem;
  margin-left: -1rem;
}
.card {
  width: 28rem;
}
.card-img-top {
  margin: 1rem auto;
  height: 200px;
  max-width: 100%;
}
.card-text{
  font-size: calc(70% + 1vmin);
}
.btn-view-custom {
  background-color: #4c3127;
  color: white;
  width: 120px;
}
#contact {
  background-color: #091638;
  color: #e4dcd9;
}
.logo-contact-custom {
  max-width: 2.5rem;
}
@media (max-width: 767.98px) {
  .profileimg {
    display: none;
  }
  .home-start-side {
    padding: 20% 0;
    text-align: center;
    font-size: 4vw;
  }
  #about-me {
    background: linear-gradient(to bottom, #bca17f 50%, #fff 50%);
  }
  .text-head-aboutme {
    margin: -1rem auto auto 0rem;
  }
  .img-aboutme {
    padding: 0;
    max-width: 24rem;
    margin: 1rem auto 3rem auto;
  }
  .personal {
    margin-bottom: 4rem;
  }
}
