body{
    font-family: 'Rubik', sans-serif;;
  }
    .detail{
        padding: 0px;
        list-style: none;
    }
    .detail_li{
      border-bottom: 2px solid lightgray;
    }

    @media (min-width: 1200px){
      
    }
    @media (max-width: 768px) and (min-width: 1200px) {

    }
    @media (max-width: 768px){
      .head1news{
        font-size: 50px;
      }
    }