.topiclink {
  color: red;
}

.textlink {
  color: black;
}

.secondMenu a {
  border-right: 1px solid #b8b4b4;
}

@media (max-width: 768px) {
  .secondMenu {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1200px){ 
  .secondMenu{
    flex-wrap: nowrap;
    margin-left: -3rem;
    overflow: hidden;
  }
  .secondMenu li{
    white-space: nowrap;
  }
}

